<!doctype html>
<html lang="en">
<head>
    <title>部门列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="assets/css/demo.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- GOOGLE FONTS -->

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <style>
        /*body {*/
            /*font-family: Menlo, Consolas, monospace;*/
            /*color: #444;*/
        /*}*/
        /*.item {*/
            /*cursor: pointer;*/
        /*}*/
        /*.bold {*/
            /*font-weight: bold;*/
        /*}*/
        /*ul {*/
            /*padding-left: 1em;*/
            /*line-height: 1.5em;*/
            /*list-style-type: dot;*/
        /*}*/
    </style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand" style="padding:0px 30px;">
            <a href="index.html"><img src="assets/img/logo.jpg" alt="Klorofil Logo"
                                      class="img-responsive logo" style="width:200px;height:75px;"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>

            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
                                                                                        class="img-circle" alt="Avatar">
                            <span>{{user_info.name}}</span>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">

        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li v-if="user_info.privilege ==1"><a href="users.html"  ><i class="glyphicon glyphicon-user"></i> <span>用户列表</span></a></li>
                    <li v-if="user_info.privilege ==1"><a href="role.html"><i class="glyphicon glyphicon-tag"></i> <span>角色管理</span></a></li>
                    <li v-if="user_info.privilege ==1"><a href="departments.html" class="active"><i class="glyphicon glyphicon-tasks"></i> <span>部门管理</span></a></li>
                    <li><a ><i class="lnr lnr-dice"></i> <span>智能井盖</span></a>
                        <ul class="nav">
                            <li><a href="devices.html"  class="active"><i class="lnr lnr-dice"></i> <span>设备管理</span></a></li>
                            <li><a href="map.html"><i class="glyphicon glyphicon-globe"></i> <span>设备地图</span></a></li>
                            <li><a href="statistic.html"><i class="glyphicon glyphicon-align-left"></i> <span>信息统计</span></a></li>
                        </ul>
                    </li>
                    <li><a ><i class="lnr lnr-dice"></i> <span>智能光交箱</span></a>
                        <ul class="nav">
                            <li><a ><i class="lnr lnr-dice"></i> <span>信息概览</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-globe"></i> <span>光交箱电子地图</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-align-left"></i> <span>光交箱报警日志</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-align-left"></i> <span>光交箱操作管理</span></a></li>
                        </ul>
                    </li>
                    <li><a ><i class="lnr lnr-dice"></i> <span>智能门禁</span></a>
                        <ul class="nav">
                            <li><a ><i class="lnr lnr-dice"></i> <span>信息概览</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-align-left"></i> <span>门禁报警日志</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-align-left"></i> <span>门禁操作管理</span></a></li>
                        </ul>
                    </li>
                    <li><a ><i class="lnr lnr-dice"></i> <span>远程抄表</span></a>
                        <ul class="nav">
                            <li><a ><i class="lnr lnr-dice"></i> <span>信息概览</span></a></li>
                            <li><a ><i class="glyphicon glyphicon-align-left"></i> <span>抄表操作管理</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-body">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="float:right;clear:both;" data-department_id="0" >新增一级部门</button>

                                <table class="table"></table>

                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="editModalLabel">部门信息</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="name">部门名称</label>
                                                    <input type="text" class="form-control" id="edit_name">
                                                    <input type="hidden" class="form-control" id="edit_id">
                                                    <input type="hidden" class="form-control" id="edit_parent_id">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" id="edit_btn">添加</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">部门信息</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="name">部门名称</label>
                                                    <input type="text" class="form-control" id="name">
                                                    <input type="hidden" class="form-control" id="parent_id">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" id="add_btn">添加</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="removeModalLabel">确定要删除此部门吗</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input type="hidden" class="form-control" id="remove_id">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" id="remove_btn">删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END TABLE STRIPED -->
                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018.Menlo Tech.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="assets/vendor/vue/vue.min.js"></script>
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<script src="assets/vendor/vue/axios.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: url + "?c=department&m=departmentList",
      dataType: "json",
      success: function(data){
        var html=""
        $.each(data.ret, function(k, v){
          if(v.parent_id==0)
          {
            html=html+"<tr><td>"+v.name+"</td><td><div class=\"btn-group\" role=\"group\" aria-label=\"operation\">\n" +
              "                                                <button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\"\n" +
              "                                                        data-target=\"#addModal\"\n" +
              "                                                        data-parent_id=\"0\"\n"  +"data-department_id="+v.id+
              "                                                >添加\n" +
              "                                                </button>\n" +
              "                                                <button type=\"button\" class=\"btn btn-success\" data-toggle=\"modal\" data-target=\"#editModal\" data-id="+v.id+" data-parent_id=0 data-name='"+v.name+"'>编辑</button>\n" +
              "<button type=\"button\" class=\"btn btn-danger\" data-toggle=\"modal\" data-target=\"#removeModal\" data-id="+v.id+" data-parent_id=0 data-name='"+v.name+"'>删除</button></div></td></tr>"
            $.each(v.children, function(k_children, v_children){
              html=html+"<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;|--"+v_children.name+"</td><td>                <div class=\"btn-group\" role=\"group\" aria-label=\"operation\">\n" +
                "                                                <button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\"\n" +
                "                                                        data-target=\"#addModal\"\n" +
                "                                                        data-parent_id='"+v_children.parent_id + "' data-department_id='"+v_children.id+ "'>添加\n" +
                "                                                </button>\n" +
                "                                                <button type=\"button\" class=\"btn btn-success\" data-toggle=\"modal\" data-target=\"#editModal\" data-id="+v_children.id+" data-parent_id="+v_children.parent_id+" data-name='"+v_children.name+"'>编辑</button>\n" +
                "                                            <button type=\"button\" class=\"btn btn-danger\" data-toggle=\"modal\" data-target=\"#removeModal\" data-id="+v_children.id+" data-parent_id="+v_children.parent_id+" data-name='"+v_children.name+"'>删除</button></div></td></tr>"
              if(v_children.children!=[])
              {
                $.each(v_children.children, function(kk_children, vv_children){
                  html=html+"<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|---"+vv_children.name+"</td><td>                <div class=\"btn-group\" role=\"group\" aria-label=\"operation\">\n" +
                    "<button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\"\n" +
                    "                                                        data-target=\"#addModal\"\n" +
                    "                                                        data-parent_id='"+vv_children.parent_id + "' data-department_id='"+vv_children.id+ "'>添加</button><button type=\"button\" class=\"btn btn-success\" data-toggle=\"modal\" data-target=\"#editModal\" data-id="+vv_children.id+" data-parent_id="+vv_children.parent_id+" data-name='"+vv_children.name+"'>编辑</button><button type=\"button\" class=\"btn btn-danger\" data-toggle=\"modal\" data-target=\"#removeModal\" data-id="+vv_children.id+" data-parent_id="+vv_children.parent_id+" data-name='"+vv_children.name+"'>删除</button></div></td></tr>"

                })
              }
            });
          }
        });

        $('.table').html(html);

      }

    });

    $('#addModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var parent_id = button.data('department_id') // Extract info from data-* attributes
      var name = button.data('name') // Extract info from data-* attributes
      $("#name").val(name)
      $("#parent_id").val(parent_id)
    })

    $("body").on("click","#add_btn",function () {
      $.ajax({
        type: "post",
        url: url + "?c=Department&m=addDepartment",
        data: {
          name:$("#name").val(),
          parent_id:$("#parent_id").val(),

        },
        success: function (data) {
          if (data.state == 0) {
            alert('修改成功')
            location.reload()
          }
        },
        dataType:'json',
      });
    })

    $('#editModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id = button.data('id') // Extract info from data-* attributes
      var parent_id = button.data('parent_id') // Extract info from data-* attributes
      var name = button.data('name') // Extract info from data-* attributes
      $("#edit_id").val(id)
      $("#edit_name").val(name)
      $("#edit_parent_id").val(parent_id)
    })

    $("body").on("click","#edit_btn",function () {
      $.ajax({
        type: "post",
        url: url + "?c=Department&m=editDepartment",
        data: {
          id:$("#edit_id").val(),
          name:$("#edit_name").val(),
          parent_id:$("#edit_parent_id").val(),
        },
        success: function (data) {
          if (data.state == 0) {
            alert('修改成功')
            location.reload()
          }
        },
        dataType:'json',
      });
    })


    $('#removeModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id = button.data('id') // Extract info from data-* attributes
      $("#remove_id").val(id)
    })

    $("body").on("click","#remove_btn",function () {
      $.ajax({
        type: "post",
        url: url + "?c=Department&m=delDepartment",
        data: {
          id:$("#remove_id").val(),
        },
        success: function (data) {
          if (data.state == 0) {
            alert('修改成功')
            location.reload()
          }
        },
        dataType:'json',
      });
    })


  });
    var vm=new Vue({
        el:"#wrapper",
        data:{
            user_info: []
        },
        created:function(){
          let that=this
            axios.get(url + "?c=user&m=getuser", {}).then(function (response) {
                console.log(response);
                that.user_info = response.data.ret;

            })
                .catch(function (error) {
                    console.log(error);
                });
        }

    })

    $(document).ready(function () {
        $('body').on('click',"#edit_submit",function () {
            // alert("111");
            var name = $('#department-name').val();
            var id = $('#department-id').val();
            var parentid = $('#department-parentid').val();
            console.log(name);
            console.log(id);
            console.log(parentid);
            $.ajax({
                url: 'http://180.76.103.247:8081/backend/index.php?c=department&m=editDepartment',
                type: 'post',
                dataType: 'json',
                data: {
                    name:name,
                    id:id,
                    parent_id:parentid
                },
                success: function(data){
                    console.log(data);
                    if(data.state == 0){
                        alert('修改成功');
                        location.reload()
                    }
                },
                error: function(){

                }
            })
        })

        $('body').on('click','#add_submit',function () {
            var name = $('#add-form input[name="name"]').val();
            var parentid = $('#department-parentid').val();
            var department = $('#add-form input[name="department"]').val();
            // console.log(name,remark);
            $.ajax({
                url: 'http://180.76.103.247:8081/backend/index.php?c=department&m=addDepartment',
                type: 'post',
                dataType: 'json',
                data: {
                    name:name,
                    parent_id:parentid,
                    department:department,
                },
                success: function(data){
                    console.log(data);
                    if(data.state == 0){
                        alert('新增成功');
                        location.reload()
                    }
                },
                error: function(){

                }
            })
        })

        $('body').on('click','#addMain_submit',function () {
            var name = $('#addMain-form input[name="name"]').val();
            //var parentid = $('#department-parentid').val();
            // var remark = $('#addMain-form input[name="remark"]').val();
            // console.log(name,remark);
            //alert("111");
            $.ajax({
                url: 'http://180.76.103.247:8081/backend/index.php?c=department&m=addDepartment',
                type: 'post',
                dataType: 'json',
                data: {
                    name:name,
                    parent_id:0,
                    //remark:remark,
                },
                success: function(data){
                    console.log(data);
                    if(data.state == 0){
                        alert('新增成功');
                        location.reload()
                    }
                },
                error: function(){

                }
            })
        })
    })
</script>
</body>


<script>

</script>
</html>
